.pieddepage{
    padding:var(--spacing-sm) 0;


    background-color:var(--color-tertiary);

    color:var(--color-white);

    p{
        margin:0;
    }

    li{
        list-style-type: none;
        /*padding:0 10px;*/

    }

    ul{
        display:flex;
        gap:20px;
    }


    .wrapperFooter{
        display:flex;
        justify-content: space-between;
        align-items: center;

        max-width: $breakpoint-xml   ;
        width: calc(100% - var(--spacing-md));
        margin: 0 auto;


        img{
            border-radius: 20px;


        }


    }
}
