.hero{
    padding-top:var(--spacing-lg);
    background-color: var(--color-secondary);

    .wrapperHero{
        display:flex;
        justify-content: space-between;

            max-width: $breakpoint-lg;
            width: calc(100% - var(--spacing-md));
            margin: 0 auto;



    }

    .hero-content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        text-align: center;
    }

    .hero-media{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        img{
            height: 673px;
            width: 1200px;


        }
    }


    h1{
        text-transform: uppercase;
        font-family: 'Sarabun', sans-serif;
        font-weight: bolder;
    }

    .wrapperHero p{
        font-family: "Montserrat", serif;
        font-weight: 600;


    }
    .suptitle{
        font-weight:bold;
        font-family: 'Sarabun', sans-serif;
        font-size: 20px;
    }




    .bouton-hero{
        width:50%;
        padding: 13px;
        font-family: "Montserrat", serif;
    }
}

@media screen and (max-width: $breakpoint-sm) {
    .hero .wrapper{
        display:block;
    }

    .hero__content{
        /*pour enlever l'espacement a droite du au width:60%*/
        width:100%;
    }

    .hero h1{
        font-size: var(--font-size-h2);
    }

}

@media screen and (max-width: $breakpoint-xs) {
    .hero__content .boutons{
        display:block;
    }

    .hero h1{
        font-size: var(--font-size-h3);
    }
}
